* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

.MuiButton-label {
  text-transform: none;
}
.MuiCard-root {
  overflow: visible !important;
}

.emoji-picker {
  position: absolute;
  bottom: 55%;
  left: 0;
}
.emoji-picker-react {
  box-shadow: none !important;
}

.MuiTab-root {
  margin: 0 11px !important;
}
.MuiBadge-badge {
  right: 2px !important;
  color: #3d7e7a;
}
